<!-- Only render If there is itemData -->
<ng-container *ngIf="itemData">
  <!-- router link to navigate to /movie -->
  <a class="item" [routerLink]="path">
    <div class="item-rating">
      <i class="material-icons">star</i>
      <span>{{ itemData.vote_average | number : '1.0-1' }}</span>
      /10
    </div>
    <div class="item-image">
      <img
        [src]="imageSizes.medium + itemData.poster_path"
        [alt]="itemData.title || itemData.name"
      />
    </div>
    <div class="item-title">{{ itemData.title || itemData.name }}</div>
  </a>
</ng-container>
