<div class="container">
  <div class="grid">
    <div class="col-12">
      <div class="p-fluid">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            type="text"
            pInputText
            placeholder="Search"
            [(ngModel)]="searchValue"
            (keyup)="inputChanged()"
          />
        </span>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-6 md:col-3 lg:col-3" *ngFor="let tvShow of tvShows">
      <app-item [itemData]="tvShow" [path]="'/tvshow/' + tvShow.id"></app-item>
    </div>
  </div>
  <div>
    <!-- onPageChange will run method when page changed with event-->
    <!-- 10000 records / 20 tvshows per page = 500 pages of tvshows-->
    <p-paginator
      [rows]="20"
      [totalRecords]="10000"
      (onPageChange)="paginate($event)"
    ></p-paginator>
  </div>
</div>
